.CaronaWy{
 color:red;
 text-align: center;
 font-size: 3rem;
 
}

.descricao{
    color: chocolate;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(239, 212, 178);
    border: 1px solid black;
}

.subtitulo{
    color: chocolate;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(239, 212, 178);
    border: 1px solid black;
}

.imagem1{
   margin-left: 24rem;
   margin-right: 20rem;
   border: 1px solid #9e0e0e;
}

.imagem1:hover{
    border: 5px solid #292828;
    
 }

body{
    background-color: rgb(240, 230, 215);
}

.acessos{
    color: chocolate;
    text-decoration: solid;
    font-size: 1.5rem;
    
    width: 80px
}

li {
    display: inline;
  }
  ul {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
  }
