.CaronaWy {
    color: red;
    text-align: center;
    font-size: 3rem;

}
body {
    margin: 50px 0 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(245, 102, 0), #ffffff);
    background-repeat: no-repeat;
    background-size: cover;
}
.subtitulo{
    color: rgb(74, 33, 3);
    text-decoration: solid;
    font-size: 1.5rem;
    margin-left: 38rem;
    margin-right: 20rem;
}
.cadastro{
    color: rgb(247, 116, 22);
    text-decoration: solid;
    font-size: 1.0rem;
    margin-left: 38rem;
    margin-right: 20rem;
}