.CaronaWy {
    color: red;
    text-align: center;
    font-size: 3rem;

}

.descricao {
    color: rgb(255, 251, 248);
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(236, 145, 33);
    border: 1px solid black;
}

.subtitulo {
    color: rgb(251, 114, 16);
    text-align: center;
    font-size: 2rem;
    background-color: rgb(236, 145, 33);
    border: 1px solid black;
}

.imagem1 {
    margin-left: 32rem;
    margin-right: 20rem;
    border: 1px solid #9e0e0e;
}

body {
    background-color: rgb(249, 248, 247);
}

.acessos {
    color: chocolate;
    text-decoration: solid;
    font-size: 1.5rem;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 1rem;
    padding: 8px;
    background-color: rgb(236, 145, 33);
    border: 1px solid black;
}

