.CaronaWy {
    color: rgb(237, 25, 25);
    text-align: center;
    font-size: 3rem;

}

.descricao {
    color: red;
    text-align: center;
    font-size: 1.5rem;

}

.subtitulo {
    color: rgb(251, 114, 16);
    text-align: center;
    font-size: 2rem;
    background-color: rgb(236, 145, 33);
    border: 1px solid black;
}

.imagem1 {
    margin-left: 32rem;
    margin-right: 20rem;
    border: 1px solid #9e0e0e;
}

body {
    margin: 50px 0 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(222, 130, 65), #ffffff);
    background-repeat: no-repeat;
    background-size: cover;
}

.acessos {
    color: rgb(235, 141, 74);
    text-decoration: solid;
    font-size: 1.5rem;
    margin-left: 40rem;
    margin-right: 20rem;
}

li {
    display: inline;
}



