.CaronaWy {
    color: red;
    text-align: center;
    font-size: 3rem;

}
body {
    background-color: rgb(240, 230, 215);
}
.subtitulo{
    color: chocolate;
    text-decoration: solid;
    font-size: 1.5rem;
}