:root {
    --color-white: #ffffff;
    --color-red: #e63636;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-orange1: #f1af80;
    --color-orange2: #f7934b;
    --color-orange3: #f9e0ce;
    --color-green: #0e860e;
    --color-blue: #1d054e;
}




body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-orange1);
    color: var(--color-blue);
}

p {
    font-size: medium;
    margin: 45px;
}

.nos {

    margin-left: 6%;
    margin-top: 4%;

}

legend {
    font-size: 1.5rem;
    text-align: center;
}


.conteudo {
    display: flex;
    justify-content: center;

}



@media only screen and (max-width: 700px) {
    fieldset {
        max-width: 100%;
        /* Largura total em telas menores */
    }
}



h1 {
    margin-bottom: 1rem;
    text-align: center;
}

button[type="submit"] {
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 47%;
    background-color: var(--color-orange2);
    color: var(--color-blue);
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--color-orange3);

}