:root{
    --color-white:#ffffff;
    --color-red:#e63636;
    --color-dark1:#181818;
    --color-dark2:#1e1e1e;
    --color-orange1:#f1af80;
    --color-orange2: #f7934b;
    --color-orange3:#f9e0ce;
    --color-green:#0e860e;
    --color-blue:#1d054e;
}

*{
    margin-inline-start: auto 1%;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-orange1);
    color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.content{
    background-color: var(--color-orange2);
    padding: 10px;
    border-radius: 10px;
    min-width: 30%;
    overflow: auto;
}

.termos{
    color: var(--color-dark1);
    font-size: small;
    text-align: center;
}
h1{
    margin-bottom: 1rem;
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}

.content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input{
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-orange3);
    border: 1px solid var(--color-dark1);
    color: var(--color-blue);
    width: 100%;
    box-sizing: border-box;
    transition: .2s;
}

button[type="submit"]{
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--color-orange2);
    color: var(--color-blue);
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: var(--color-orange3);
}
.home{
    padding: 1rem;
    font-size: 1rem;  
    border: 2px;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--color-orange2);
    cursor: pointer;
}

@media screen and (max-widht:576px) {
    .box-select{
        flex-direction: column;
        gap: 5px;
    }
    
}